/* CHART JS GRAPHS */
.charts{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.daily_chart{
  border: 3px solid rgba(100, 100, 150, 0.173);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.chart_label{
    color: rgb(100, 100, 150);
}